; Use this file as template for secrets.ini
[secrets]
build_flags =
    -D WIFI_SSID=\"your_wifi_net\"
    -D WIFI_PASS=\"your_passwd\"
    -D WEB_USER=\"your_user\"
    -D WEB_PASS=\"your_user_passwd\"
    -D IP_LOCAL=192,168,1,10
    -D IP_GATEWAY=192,168,1,1
    -D IP_SUBNET=255,255,255,0
    -D IP_DNS_PRIMARY=8,8,8,8
    -D IP_DNS_SECONDARY=1,1,1,1
